<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.ic.dshm.dao.interfaces.EbillingShmTableRecordMapper" >
  <resultMap id="BaseResultMap" type="com.x.ic.dshm.dto.EbillingShmTableRecord" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TABLE_ID" property="tableId" jdbcType="INTEGER" />
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
    <result column="FIELD_SEQ" property="fieldSeq" jdbcType="INTEGER" />
    <result column="FIELD_NAME" property="fieldName" jdbcType="VARCHAR" />
    <result column="FIELD_TYPE" property="fieldType" jdbcType="INTEGER" />
    <result column="FIELD_FORMAT" property="fieldFormat" jdbcType="VARCHAR" />
    <result column="FIELD_SIZE" property="fieldSize" jdbcType="INTEGER" />
    <result column="IS_HASHKEY" property="isHashkey" jdbcType="INTEGER" />
    <result column="IS_PRIMARY" property="isPrimary" jdbcType="INTEGER" />
    <result column="SEARCH_TYPE" property="searchType" jdbcType="VARCHAR" />
    <result column="tenant_id" property="tenantId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TABLE_ID, TABLE_NAME, FIELD_SEQ, FIELD_NAME, FIELD_TYPE, FIELD_FORMAT, FIELD_SIZE, 
    IS_HASHKEY, IS_PRIMARY, SEARCH_TYPE, tenant_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.x.ic.dshm.dto.EbillingShmTableRecordCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from ebilling_shm_table_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from ebilling_shm_table_record
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from ebilling_shm_table_record
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.x.ic.dshm.dto.EbillingShmTableRecordCriteria" >
    delete from ebilling_shm_table_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.ic.dshm.dto.EbillingShmTableRecord" >
    insert into ebilling_shm_table_record (ID, TABLE_ID, TABLE_NAME, 
      FIELD_SEQ, FIELD_NAME, FIELD_TYPE, 
      FIELD_FORMAT, FIELD_SIZE, IS_HASHKEY, 
      IS_PRIMARY, SEARCH_TYPE, tenant_id
      )
    values (#{id,jdbcType=INTEGER}, #{tableId,jdbcType=INTEGER}, #{tableName,jdbcType=VARCHAR}, 
      #{fieldSeq,jdbcType=INTEGER}, #{fieldName,jdbcType=VARCHAR}, #{fieldType,jdbcType=INTEGER}, 
      #{fieldFormat,jdbcType=VARCHAR}, #{fieldSize,jdbcType=INTEGER}, #{isHashkey,jdbcType=INTEGER}, 
      #{isPrimary,jdbcType=INTEGER}, #{searchType,jdbcType=VARCHAR}, #{tenantId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.x.ic.dshm.dto.EbillingShmTableRecord" >
    insert into ebilling_shm_table_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="tableId != null" >
        TABLE_ID,
      </if>
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
      <if test="fieldSeq != null" >
        FIELD_SEQ,
      </if>
      <if test="fieldName != null" >
        FIELD_NAME,
      </if>
      <if test="fieldType != null" >
        FIELD_TYPE,
      </if>
      <if test="fieldFormat != null" >
        FIELD_FORMAT,
      </if>
      <if test="fieldSize != null" >
        FIELD_SIZE,
      </if>
      <if test="isHashkey != null" >
        IS_HASHKEY,
      </if>
      <if test="isPrimary != null" >
        IS_PRIMARY,
      </if>
      <if test="searchType != null" >
        SEARCH_TYPE,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="fieldSeq != null" >
        #{fieldSeq,jdbcType=INTEGER},
      </if>
      <if test="fieldName != null" >
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null" >
        #{fieldType,jdbcType=INTEGER},
      </if>
      <if test="fieldFormat != null" >
        #{fieldFormat,jdbcType=VARCHAR},
      </if>
      <if test="fieldSize != null" >
        #{fieldSize,jdbcType=INTEGER},
      </if>
      <if test="isHashkey != null" >
        #{isHashkey,jdbcType=INTEGER},
      </if>
      <if test="isPrimary != null" >
        #{isPrimary,jdbcType=INTEGER},
      </if>
      <if test="searchType != null" >
        #{searchType,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.ic.dshm.dto.EbillingShmTableRecordCriteria" resultType="java.lang.Integer" >
    select count(*) from ebilling_shm_table_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ebilling_shm_table_record
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tableId != null" >
        TABLE_ID = #{record.tableId,jdbcType=INTEGER},
      </if>
      <if test="record.tableName != null" >
        TABLE_NAME = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldSeq != null" >
        FIELD_SEQ = #{record.fieldSeq,jdbcType=INTEGER},
      </if>
      <if test="record.fieldName != null" >
        FIELD_NAME = #{record.fieldName,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldType != null" >
        FIELD_TYPE = #{record.fieldType,jdbcType=INTEGER},
      </if>
      <if test="record.fieldFormat != null" >
        FIELD_FORMAT = #{record.fieldFormat,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldSize != null" >
        FIELD_SIZE = #{record.fieldSize,jdbcType=INTEGER},
      </if>
      <if test="record.isHashkey != null" >
        IS_HASHKEY = #{record.isHashkey,jdbcType=INTEGER},
      </if>
      <if test="record.isPrimary != null" >
        IS_PRIMARY = #{record.isPrimary,jdbcType=INTEGER},
      </if>
      <if test="record.searchType != null" >
        SEARCH_TYPE = #{record.searchType,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ebilling_shm_table_record
    set ID = #{record.id,jdbcType=INTEGER},
      TABLE_ID = #{record.tableId,jdbcType=INTEGER},
      TABLE_NAME = #{record.tableName,jdbcType=VARCHAR},
      FIELD_SEQ = #{record.fieldSeq,jdbcType=INTEGER},
      FIELD_NAME = #{record.fieldName,jdbcType=VARCHAR},
      FIELD_TYPE = #{record.fieldType,jdbcType=INTEGER},
      FIELD_FORMAT = #{record.fieldFormat,jdbcType=VARCHAR},
      FIELD_SIZE = #{record.fieldSize,jdbcType=INTEGER},
      IS_HASHKEY = #{record.isHashkey,jdbcType=INTEGER},
      IS_PRIMARY = #{record.isPrimary,jdbcType=INTEGER},
      SEARCH_TYPE = #{record.searchType,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.x.ic.dshm.dto.EbillingShmTableRecord" >
    update ebilling_shm_table_record
    <set >
      <if test="tableId != null" >
        TABLE_ID = #{tableId,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="fieldSeq != null" >
        FIELD_SEQ = #{fieldSeq,jdbcType=INTEGER},
      </if>
      <if test="fieldName != null" >
        FIELD_NAME = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null" >
        FIELD_TYPE = #{fieldType,jdbcType=INTEGER},
      </if>
      <if test="fieldFormat != null" >
        FIELD_FORMAT = #{fieldFormat,jdbcType=VARCHAR},
      </if>
      <if test="fieldSize != null" >
        FIELD_SIZE = #{fieldSize,jdbcType=INTEGER},
      </if>
      <if test="isHashkey != null" >
        IS_HASHKEY = #{isHashkey,jdbcType=INTEGER},
      </if>
      <if test="isPrimary != null" >
        IS_PRIMARY = #{isPrimary,jdbcType=INTEGER},
      </if>
      <if test="searchType != null" >
        SEARCH_TYPE = #{searchType,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x.ic.dshm.dto.EbillingShmTableRecord" >
    update ebilling_shm_table_record
    set TABLE_ID = #{tableId,jdbcType=INTEGER},
      TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      FIELD_SEQ = #{fieldSeq,jdbcType=INTEGER},
      FIELD_NAME = #{fieldName,jdbcType=VARCHAR},
      FIELD_TYPE = #{fieldType,jdbcType=INTEGER},
      FIELD_FORMAT = #{fieldFormat,jdbcType=VARCHAR},
      FIELD_SIZE = #{fieldSize,jdbcType=INTEGER},
      IS_HASHKEY = #{isHashkey,jdbcType=INTEGER},
      IS_PRIMARY = #{isPrimary,jdbcType=INTEGER},
      SEARCH_TYPE = #{searchType,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=CHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>