<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.ic.smc.dao.mapper.interfaces.StlBillDetailStyleItemMapper" >
  <resultMap id="BaseResultMap" type="com.x.ic.smc.dao.mapper.bo.StlBillDetailStyleItem" >
    <id column="ITEM_ID" property="itemId" jdbcType="BIGINT" />
    <result column="BILL_STYLE_ID" property="billStyleId" jdbcType="BIGINT" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
    <result column="ITEM_TITLE" property="itemTitle" jdbcType="VARCHAR" />
    <result column="ITEM_OWNER" property="itemOwner" jdbcType="VARCHAR" />
    <result column="CHECK_FLAG" property="checkFlag" jdbcType="VARCHAR" />
    <result column="OBJECT_ID" property="objectId" jdbcType="VARCHAR" />
    <result column="ELEMENT_ID" property="elementId" jdbcType="BIGINT" />
    <result column="SORT_ID" property="sortId" jdbcType="INTEGER" />
    <result column="IS_SPLIT_ITEM" property="isSplitItem" jdbcType="VARCHAR" />
    <result column="CREATE_DEPT_ID" property="createDeptId" jdbcType="VARCHAR" />
    <result column="CREATE_OPER_ID" property="createOperId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DEPT_ID" property="updateDeptId" jdbcType="VARCHAR" />
    <result column="UPDATE_OPER_ID" property="updateOperId" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ITEM_ID, BILL_STYLE_ID, TENANT_ID, ITEM_CODE, ITEM_TITLE, ITEM_OWNER, CHECK_FLAG, 
    OBJECT_ID, ELEMENT_ID, SORT_ID, IS_SPLIT_ITEM, CREATE_DEPT_ID, CREATE_OPER_ID, CREATE_TIME, 
    UPDATE_DEPT_ID, UPDATE_OPER_ID, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.x.ic.smc.dao.mapper.bo.StlBillDetailStyleItemCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from stl_bill_detail_style_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from stl_bill_detail_style_item
    where ITEM_ID = #{itemId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from stl_bill_detail_style_item
    where ITEM_ID = #{itemId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.x.ic.smc.dao.mapper.bo.StlBillDetailStyleItemCriteria" >
    delete from stl_bill_detail_style_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.ic.smc.dao.mapper.bo.StlBillDetailStyleItem" >
    insert into stl_bill_detail_style_item (ITEM_ID, BILL_STYLE_ID, TENANT_ID, 
      ITEM_CODE, ITEM_TITLE, ITEM_OWNER, 
      CHECK_FLAG, OBJECT_ID, ELEMENT_ID, 
      SORT_ID, IS_SPLIT_ITEM, CREATE_DEPT_ID, 
      CREATE_OPER_ID, CREATE_TIME, UPDATE_DEPT_ID, 
      UPDATE_OPER_ID, UPDATE_TIME)
    values (#{itemId,jdbcType=BIGINT}, #{billStyleId,jdbcType=BIGINT}, #{tenantId,jdbcType=VARCHAR}, 
      #{itemCode,jdbcType=VARCHAR}, #{itemTitle,jdbcType=VARCHAR}, #{itemOwner,jdbcType=VARCHAR}, 
      #{checkFlag,jdbcType=VARCHAR}, #{objectId,jdbcType=VARCHAR}, #{elementId,jdbcType=BIGINT}, 
      #{sortId,jdbcType=INTEGER}, #{isSplitItem,jdbcType=VARCHAR}, #{createDeptId,jdbcType=VARCHAR}, 
      #{createOperId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateDeptId,jdbcType=VARCHAR}, 
      #{updateOperId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.x.ic.smc.dao.mapper.bo.StlBillDetailStyleItem" >
    insert into stl_bill_detail_style_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="billStyleId != null" >
        BILL_STYLE_ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="itemCode != null" >
        ITEM_CODE,
      </if>
      <if test="itemTitle != null" >
        ITEM_TITLE,
      </if>
      <if test="itemOwner != null" >
        ITEM_OWNER,
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG,
      </if>
      <if test="objectId != null" >
        OBJECT_ID,
      </if>
      <if test="elementId != null" >
        ELEMENT_ID,
      </if>
      <if test="sortId != null" >
        SORT_ID,
      </if>
      <if test="isSplitItem != null" >
        IS_SPLIT_ITEM,
      </if>
      <if test="createDeptId != null" >
        CREATE_DEPT_ID,
      </if>
      <if test="createOperId != null" >
        CREATE_OPER_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateDeptId != null" >
        UPDATE_DEPT_ID,
      </if>
      <if test="updateOperId != null" >
        UPDATE_OPER_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="billStyleId != null" >
        #{billStyleId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemTitle != null" >
        #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="itemOwner != null" >
        #{itemOwner,jdbcType=VARCHAR},
      </if>
      <if test="checkFlag != null" >
        #{checkFlag,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="elementId != null" >
        #{elementId,jdbcType=BIGINT},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="isSplitItem != null" >
        #{isSplitItem,jdbcType=VARCHAR},
      </if>
      <if test="createDeptId != null" >
        #{createDeptId,jdbcType=VARCHAR},
      </if>
      <if test="createOperId != null" >
        #{createOperId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDeptId != null" >
        #{updateDeptId,jdbcType=VARCHAR},
      </if>
      <if test="updateOperId != null" >
        #{updateOperId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.ic.smc.dao.mapper.bo.StlBillDetailStyleItemCriteria" resultType="java.lang.Integer" >
    select count(*) from stl_bill_detail_style_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stl_bill_detail_style_item
    <set >
      <if test="record.itemId != null" >
        ITEM_ID = #{record.itemId,jdbcType=BIGINT},
      </if>
      <if test="record.billStyleId != null" >
        BILL_STYLE_ID = #{record.billStyleId,jdbcType=BIGINT},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemCode != null" >
        ITEM_CODE = #{record.itemCode,jdbcType=VARCHAR},
      </if>
      <if test="record.itemTitle != null" >
        ITEM_TITLE = #{record.itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.itemOwner != null" >
        ITEM_OWNER = #{record.itemOwner,jdbcType=VARCHAR},
      </if>
      <if test="record.checkFlag != null" >
        CHECK_FLAG = #{record.checkFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.objectId != null" >
        OBJECT_ID = #{record.objectId,jdbcType=VARCHAR},
      </if>
      <if test="record.elementId != null" >
        ELEMENT_ID = #{record.elementId,jdbcType=BIGINT},
      </if>
      <if test="record.sortId != null" >
        SORT_ID = #{record.sortId,jdbcType=INTEGER},
      </if>
      <if test="record.isSplitItem != null" >
        IS_SPLIT_ITEM = #{record.isSplitItem,jdbcType=VARCHAR},
      </if>
      <if test="record.createDeptId != null" >
        CREATE_DEPT_ID = #{record.createDeptId,jdbcType=VARCHAR},
      </if>
      <if test="record.createOperId != null" >
        CREATE_OPER_ID = #{record.createOperId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDeptId != null" >
        UPDATE_DEPT_ID = #{record.updateDeptId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateOperId != null" >
        UPDATE_OPER_ID = #{record.updateOperId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stl_bill_detail_style_item
    set ITEM_ID = #{record.itemId,jdbcType=BIGINT},
      BILL_STYLE_ID = #{record.billStyleId,jdbcType=BIGINT},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      ITEM_CODE = #{record.itemCode,jdbcType=VARCHAR},
      ITEM_TITLE = #{record.itemTitle,jdbcType=VARCHAR},
      ITEM_OWNER = #{record.itemOwner,jdbcType=VARCHAR},
      CHECK_FLAG = #{record.checkFlag,jdbcType=VARCHAR},
      OBJECT_ID = #{record.objectId,jdbcType=VARCHAR},
      ELEMENT_ID = #{record.elementId,jdbcType=BIGINT},
      SORT_ID = #{record.sortId,jdbcType=INTEGER},
      IS_SPLIT_ITEM = #{record.isSplitItem,jdbcType=VARCHAR},
      CREATE_DEPT_ID = #{record.createDeptId,jdbcType=VARCHAR},
      CREATE_OPER_ID = #{record.createOperId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_DEPT_ID = #{record.updateDeptId,jdbcType=VARCHAR},
      UPDATE_OPER_ID = #{record.updateOperId,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.x.ic.smc.dao.mapper.bo.StlBillDetailStyleItem" >
    update stl_bill_detail_style_item
    <set >
      <if test="billStyleId != null" >
        BILL_STYLE_ID = #{billStyleId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null" >
        ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemTitle != null" >
        ITEM_TITLE = #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="itemOwner != null" >
        ITEM_OWNER = #{itemOwner,jdbcType=VARCHAR},
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG = #{checkFlag,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        OBJECT_ID = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="elementId != null" >
        ELEMENT_ID = #{elementId,jdbcType=BIGINT},
      </if>
      <if test="sortId != null" >
        SORT_ID = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="isSplitItem != null" >
        IS_SPLIT_ITEM = #{isSplitItem,jdbcType=VARCHAR},
      </if>
      <if test="createDeptId != null" >
        CREATE_DEPT_ID = #{createDeptId,jdbcType=VARCHAR},
      </if>
      <if test="createOperId != null" >
        CREATE_OPER_ID = #{createOperId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDeptId != null" >
        UPDATE_DEPT_ID = #{updateDeptId,jdbcType=VARCHAR},
      </if>
      <if test="updateOperId != null" >
        UPDATE_OPER_ID = #{updateOperId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ITEM_ID = #{itemId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x.ic.smc.dao.mapper.bo.StlBillDetailStyleItem" >
    update stl_bill_detail_style_item
    set BILL_STYLE_ID = #{billStyleId,jdbcType=BIGINT},
      TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      ITEM_TITLE = #{itemTitle,jdbcType=VARCHAR},
      ITEM_OWNER = #{itemOwner,jdbcType=VARCHAR},
      CHECK_FLAG = #{checkFlag,jdbcType=VARCHAR},
      OBJECT_ID = #{objectId,jdbcType=VARCHAR},
      ELEMENT_ID = #{elementId,jdbcType=BIGINT},
      SORT_ID = #{sortId,jdbcType=INTEGER},
      IS_SPLIT_ITEM = #{isSplitItem,jdbcType=VARCHAR},
      CREATE_DEPT_ID = #{createDeptId,jdbcType=VARCHAR},
      CREATE_OPER_ID = #{createOperId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_DEPT_ID = #{updateDeptId,jdbcType=VARCHAR},
      UPDATE_OPER_ID = #{updateOperId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ITEM_ID = #{itemId,jdbcType=BIGINT}
  </update>
</mapper>