<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.ic.smc.dao.mapper.interfaces.StlElementAttrMapper" >
  <resultMap id="BaseResultMap" type="com.x.ic.smc.dao.mapper.bo.StlElementAttr" >
    <id column="ATTR_ID" property="attrId" jdbcType="BIGINT" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="ELEMENT_ID" property="elementId" jdbcType="BIGINT" />
    <result column="sub_object_id" property="subObjectId" jdbcType="VARCHAR" />
    <result column="SUB_ELEMENT_ID" property="subElementId" jdbcType="BIGINT" />
    <result column="REL_TYPE" property="relType" jdbcType="VARCHAR" />
    <result column="REL_VALUE" property="relValue" jdbcType="VARCHAR" />
    <result column="UPDATE_DEPT_ID" property="updateDeptId" jdbcType="VARCHAR" />
    <result column="UPDATE_OPER_ID" property="updateOperId" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ATTR_ID, TENANT_ID, ELEMENT_ID, sub_object_id, SUB_ELEMENT_ID, REL_TYPE, REL_VALUE, 
    UPDATE_DEPT_ID, UPDATE_OPER_ID, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.x.ic.smc.dao.mapper.bo.StlElementAttrCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from stl_element_attr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from stl_element_attr
    where ATTR_ID = #{attrId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from stl_element_attr
    where ATTR_ID = #{attrId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.x.ic.smc.dao.mapper.bo.StlElementAttrCriteria" >
    delete from stl_element_attr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.ic.smc.dao.mapper.bo.StlElementAttr" >
    insert into stl_element_attr (ATTR_ID, TENANT_ID, ELEMENT_ID, 
      sub_object_id, SUB_ELEMENT_ID, REL_TYPE, 
      REL_VALUE, UPDATE_DEPT_ID, UPDATE_OPER_ID, 
      UPDATE_TIME)
    values (#{attrId,jdbcType=BIGINT}, #{tenantId,jdbcType=VARCHAR}, #{elementId,jdbcType=BIGINT}, 
      #{subObjectId,jdbcType=VARCHAR}, #{subElementId,jdbcType=BIGINT}, #{relType,jdbcType=VARCHAR}, 
      #{relValue,jdbcType=VARCHAR}, #{updateDeptId,jdbcType=VARCHAR}, #{updateOperId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.x.ic.smc.dao.mapper.bo.StlElementAttr" >
    insert into stl_element_attr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        ATTR_ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="elementId != null" >
        ELEMENT_ID,
      </if>
      <if test="subObjectId != null" >
        sub_object_id,
      </if>
      <if test="subElementId != null" >
        SUB_ELEMENT_ID,
      </if>
      <if test="relType != null" >
        REL_TYPE,
      </if>
      <if test="relValue != null" >
        REL_VALUE,
      </if>
      <if test="updateDeptId != null" >
        UPDATE_DEPT_ID,
      </if>
      <if test="updateOperId != null" >
        UPDATE_OPER_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        #{attrId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="elementId != null" >
        #{elementId,jdbcType=BIGINT},
      </if>
      <if test="subObjectId != null" >
        #{subObjectId,jdbcType=VARCHAR},
      </if>
      <if test="subElementId != null" >
        #{subElementId,jdbcType=BIGINT},
      </if>
      <if test="relType != null" >
        #{relType,jdbcType=VARCHAR},
      </if>
      <if test="relValue != null" >
        #{relValue,jdbcType=VARCHAR},
      </if>
      <if test="updateDeptId != null" >
        #{updateDeptId,jdbcType=VARCHAR},
      </if>
      <if test="updateOperId != null" >
        #{updateOperId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.ic.smc.dao.mapper.bo.StlElementAttrCriteria" resultType="java.lang.Integer" >
    select count(*) from stl_element_attr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stl_element_attr
    <set >
      <if test="record.attrId != null" >
        ATTR_ID = #{record.attrId,jdbcType=BIGINT},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.elementId != null" >
        ELEMENT_ID = #{record.elementId,jdbcType=BIGINT},
      </if>
      <if test="record.subObjectId != null" >
        sub_object_id = #{record.subObjectId,jdbcType=VARCHAR},
      </if>
      <if test="record.subElementId != null" >
        SUB_ELEMENT_ID = #{record.subElementId,jdbcType=BIGINT},
      </if>
      <if test="record.relType != null" >
        REL_TYPE = #{record.relType,jdbcType=VARCHAR},
      </if>
      <if test="record.relValue != null" >
        REL_VALUE = #{record.relValue,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDeptId != null" >
        UPDATE_DEPT_ID = #{record.updateDeptId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateOperId != null" >
        UPDATE_OPER_ID = #{record.updateOperId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stl_element_attr
    set ATTR_ID = #{record.attrId,jdbcType=BIGINT},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      ELEMENT_ID = #{record.elementId,jdbcType=BIGINT},
      sub_object_id = #{record.subObjectId,jdbcType=VARCHAR},
      SUB_ELEMENT_ID = #{record.subElementId,jdbcType=BIGINT},
      REL_TYPE = #{record.relType,jdbcType=VARCHAR},
      REL_VALUE = #{record.relValue,jdbcType=VARCHAR},
      UPDATE_DEPT_ID = #{record.updateDeptId,jdbcType=VARCHAR},
      UPDATE_OPER_ID = #{record.updateOperId,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.x.ic.smc.dao.mapper.bo.StlElementAttr" >
    update stl_element_attr
    <set >
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="elementId != null" >
        ELEMENT_ID = #{elementId,jdbcType=BIGINT},
      </if>
      <if test="subObjectId != null" >
        sub_object_id = #{subObjectId,jdbcType=VARCHAR},
      </if>
      <if test="subElementId != null" >
        SUB_ELEMENT_ID = #{subElementId,jdbcType=BIGINT},
      </if>
      <if test="relType != null" >
        REL_TYPE = #{relType,jdbcType=VARCHAR},
      </if>
      <if test="relValue != null" >
        REL_VALUE = #{relValue,jdbcType=VARCHAR},
      </if>
      <if test="updateDeptId != null" >
        UPDATE_DEPT_ID = #{updateDeptId,jdbcType=VARCHAR},
      </if>
      <if test="updateOperId != null" >
        UPDATE_OPER_ID = #{updateOperId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ATTR_ID = #{attrId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x.ic.smc.dao.mapper.bo.StlElementAttr" >
    update stl_element_attr
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      ELEMENT_ID = #{elementId,jdbcType=BIGINT},
      sub_object_id = #{subObjectId,jdbcType=VARCHAR},
      SUB_ELEMENT_ID = #{subElementId,jdbcType=BIGINT},
      REL_TYPE = #{relType,jdbcType=VARCHAR},
      REL_VALUE = #{relValue,jdbcType=VARCHAR},
      UPDATE_DEPT_ID = #{updateDeptId,jdbcType=VARCHAR},
      UPDATE_OPER_ID = #{updateOperId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ATTR_ID = #{attrId,jdbcType=BIGINT}
  </update>
</mapper>