<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.ic.smc.dao.mapper.interfaces.StlElementMapper" >
  <resultMap id="BaseResultMap" type="com.x.ic.smc.dao.mapper.bo.StlElement" >
    <id column="ELEMENT_ID" property="elementId" jdbcType="BIGINT" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="ELEMENT_CODE" property="elementCode" jdbcType="VARCHAR" />
    <result column="ELEMENT_NAME" property="elementName" jdbcType="VARCHAR" />
    <result column="OBJECT_ID" property="objectId" jdbcType="VARCHAR" />
    <result column="ATTR_TYPE" property="attrType" jdbcType="VARCHAR" />
    <result column="IS_SETTLEMENT" property="isSettlement" jdbcType="VARCHAR" />
    <result column="VALUE_TYPE" property="valueType" jdbcType="VARCHAR" />
    <result column="IS_NECESSARY" property="isNecessary" jdbcType="VARCHAR" />
    <result column="ELEMENT_TYPE" property="elementType" jdbcType="VARCHAR" />
    <result column="DATA_CREATE_TYPE" property="dataCreateType" jdbcType="VARCHAR" />
    <result column="IS_PRIMARY_KEY" property="isPrimaryKey" jdbcType="VARCHAR" />
    <result column="UNIT" property="unit" jdbcType="VARCHAR" />
    <result column="SORT_ID" property="sortId" jdbcType="INTEGER" />
    <result column="ELEMENT_DESC" property="elementDesc" jdbcType="VARCHAR" />
    <result column="STATISTICS_TYPE" property="statisticsType" jdbcType="VARCHAR" />
    <result column="STATISTICS_CYC" property="statisticsCyc" jdbcType="VARCHAR" />
    <result column="STATISTICS_OBJECT_ID" property="statisticsObjectId" jdbcType="VARCHAR" />
    <result column="STATISTICS_ELEMENT_ID" property="statisticsElementId" jdbcType="BIGINT" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="CREATE_DEPT_ID" property="createDeptId" jdbcType="VARCHAR" />
    <result column="CREATE_OPER_ID" property="createOperId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DEPT_ID" property="updateDeptId" jdbcType="VARCHAR" />
    <result column="UPDATE_OPER_ID" property="updateOperId" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ELEMENT_ID, TENANT_ID, ELEMENT_CODE, ELEMENT_NAME, OBJECT_ID, ATTR_TYPE, IS_SETTLEMENT, 
    VALUE_TYPE, IS_NECESSARY, ELEMENT_TYPE, DATA_CREATE_TYPE, IS_PRIMARY_KEY, UNIT, SORT_ID, 
    ELEMENT_DESC, STATISTICS_TYPE, STATISTICS_CYC, STATISTICS_OBJECT_ID, STATISTICS_ELEMENT_ID, 
    STATE, CREATE_DEPT_ID, CREATE_OPER_ID, CREATE_TIME, UPDATE_DEPT_ID, UPDATE_OPER_ID, 
    UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.x.ic.smc.dao.mapper.bo.StlElementCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from stl_element
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from stl_element
    where ELEMENT_ID = #{elementId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from stl_element
    where ELEMENT_ID = #{elementId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.x.ic.smc.dao.mapper.bo.StlElementCriteria" >
    delete from stl_element
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.ic.smc.dao.mapper.bo.StlElement" >
    insert into stl_element (ELEMENT_ID, TENANT_ID, ELEMENT_CODE, 
      ELEMENT_NAME, OBJECT_ID, ATTR_TYPE, 
      IS_SETTLEMENT, VALUE_TYPE, IS_NECESSARY, 
      ELEMENT_TYPE, DATA_CREATE_TYPE, IS_PRIMARY_KEY, 
      UNIT, SORT_ID, ELEMENT_DESC, 
      STATISTICS_TYPE, STATISTICS_CYC, STATISTICS_OBJECT_ID, 
      STATISTICS_ELEMENT_ID, STATE, CREATE_DEPT_ID, 
      CREATE_OPER_ID, CREATE_TIME, UPDATE_DEPT_ID, 
      UPDATE_OPER_ID, UPDATE_TIME)
    values (#{elementId,jdbcType=BIGINT}, #{tenantId,jdbcType=VARCHAR}, #{elementCode,jdbcType=VARCHAR}, 
      #{elementName,jdbcType=VARCHAR}, #{objectId,jdbcType=VARCHAR}, #{attrType,jdbcType=VARCHAR}, 
      #{isSettlement,jdbcType=VARCHAR}, #{valueType,jdbcType=VARCHAR}, #{isNecessary,jdbcType=VARCHAR}, 
      #{elementType,jdbcType=VARCHAR}, #{dataCreateType,jdbcType=VARCHAR}, #{isPrimaryKey,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{sortId,jdbcType=INTEGER}, #{elementDesc,jdbcType=VARCHAR}, 
      #{statisticsType,jdbcType=VARCHAR}, #{statisticsCyc,jdbcType=VARCHAR}, #{statisticsObjectId,jdbcType=VARCHAR}, 
      #{statisticsElementId,jdbcType=BIGINT}, #{state,jdbcType=VARCHAR}, #{createDeptId,jdbcType=VARCHAR}, 
      #{createOperId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateDeptId,jdbcType=VARCHAR}, 
      #{updateOperId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.x.ic.smc.dao.mapper.bo.StlElement" >
    insert into stl_element
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="elementId != null" >
        ELEMENT_ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="elementCode != null" >
        ELEMENT_CODE,
      </if>
      <if test="elementName != null" >
        ELEMENT_NAME,
      </if>
      <if test="objectId != null" >
        OBJECT_ID,
      </if>
      <if test="attrType != null" >
        ATTR_TYPE,
      </if>
      <if test="isSettlement != null" >
        IS_SETTLEMENT,
      </if>
      <if test="valueType != null" >
        VALUE_TYPE,
      </if>
      <if test="isNecessary != null" >
        IS_NECESSARY,
      </if>
      <if test="elementType != null" >
        ELEMENT_TYPE,
      </if>
      <if test="dataCreateType != null" >
        DATA_CREATE_TYPE,
      </if>
      <if test="isPrimaryKey != null" >
        IS_PRIMARY_KEY,
      </if>
      <if test="unit != null" >
        UNIT,
      </if>
      <if test="sortId != null" >
        SORT_ID,
      </if>
      <if test="elementDesc != null" >
        ELEMENT_DESC,
      </if>
      <if test="statisticsType != null" >
        STATISTICS_TYPE,
      </if>
      <if test="statisticsCyc != null" >
        STATISTICS_CYC,
      </if>
      <if test="statisticsObjectId != null" >
        STATISTICS_OBJECT_ID,
      </if>
      <if test="statisticsElementId != null" >
        STATISTICS_ELEMENT_ID,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="createDeptId != null" >
        CREATE_DEPT_ID,
      </if>
      <if test="createOperId != null" >
        CREATE_OPER_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateDeptId != null" >
        UPDATE_DEPT_ID,
      </if>
      <if test="updateOperId != null" >
        UPDATE_OPER_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="elementId != null" >
        #{elementId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="elementCode != null" >
        #{elementCode,jdbcType=VARCHAR},
      </if>
      <if test="elementName != null" >
        #{elementName,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="attrType != null" >
        #{attrType,jdbcType=VARCHAR},
      </if>
      <if test="isSettlement != null" >
        #{isSettlement,jdbcType=VARCHAR},
      </if>
      <if test="valueType != null" >
        #{valueType,jdbcType=VARCHAR},
      </if>
      <if test="isNecessary != null" >
        #{isNecessary,jdbcType=VARCHAR},
      </if>
      <if test="elementType != null" >
        #{elementType,jdbcType=VARCHAR},
      </if>
      <if test="dataCreateType != null" >
        #{dataCreateType,jdbcType=VARCHAR},
      </if>
      <if test="isPrimaryKey != null" >
        #{isPrimaryKey,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="elementDesc != null" >
        #{elementDesc,jdbcType=VARCHAR},
      </if>
      <if test="statisticsType != null" >
        #{statisticsType,jdbcType=VARCHAR},
      </if>
      <if test="statisticsCyc != null" >
        #{statisticsCyc,jdbcType=VARCHAR},
      </if>
      <if test="statisticsObjectId != null" >
        #{statisticsObjectId,jdbcType=VARCHAR},
      </if>
      <if test="statisticsElementId != null" >
        #{statisticsElementId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createDeptId != null" >
        #{createDeptId,jdbcType=VARCHAR},
      </if>
      <if test="createOperId != null" >
        #{createOperId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDeptId != null" >
        #{updateDeptId,jdbcType=VARCHAR},
      </if>
      <if test="updateOperId != null" >
        #{updateOperId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.ic.smc.dao.mapper.bo.StlElementCriteria" resultType="java.lang.Integer" >
    select count(*) from stl_element
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stl_element
    <set >
      <if test="record.elementId != null" >
        ELEMENT_ID = #{record.elementId,jdbcType=BIGINT},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.elementCode != null" >
        ELEMENT_CODE = #{record.elementCode,jdbcType=VARCHAR},
      </if>
      <if test="record.elementName != null" >
        ELEMENT_NAME = #{record.elementName,jdbcType=VARCHAR},
      </if>
      <if test="record.objectId != null" >
        OBJECT_ID = #{record.objectId,jdbcType=VARCHAR},
      </if>
      <if test="record.attrType != null" >
        ATTR_TYPE = #{record.attrType,jdbcType=VARCHAR},
      </if>
      <if test="record.isSettlement != null" >
        IS_SETTLEMENT = #{record.isSettlement,jdbcType=VARCHAR},
      </if>
      <if test="record.valueType != null" >
        VALUE_TYPE = #{record.valueType,jdbcType=VARCHAR},
      </if>
      <if test="record.isNecessary != null" >
        IS_NECESSARY = #{record.isNecessary,jdbcType=VARCHAR},
      </if>
      <if test="record.elementType != null" >
        ELEMENT_TYPE = #{record.elementType,jdbcType=VARCHAR},
      </if>
      <if test="record.dataCreateType != null" >
        DATA_CREATE_TYPE = #{record.dataCreateType,jdbcType=VARCHAR},
      </if>
      <if test="record.isPrimaryKey != null" >
        IS_PRIMARY_KEY = #{record.isPrimaryKey,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null" >
        UNIT = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.sortId != null" >
        SORT_ID = #{record.sortId,jdbcType=INTEGER},
      </if>
      <if test="record.elementDesc != null" >
        ELEMENT_DESC = #{record.elementDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.statisticsType != null" >
        STATISTICS_TYPE = #{record.statisticsType,jdbcType=VARCHAR},
      </if>
      <if test="record.statisticsCyc != null" >
        STATISTICS_CYC = #{record.statisticsCyc,jdbcType=VARCHAR},
      </if>
      <if test="record.statisticsObjectId != null" >
        STATISTICS_OBJECT_ID = #{record.statisticsObjectId,jdbcType=VARCHAR},
      </if>
      <if test="record.statisticsElementId != null" >
        STATISTICS_ELEMENT_ID = #{record.statisticsElementId,jdbcType=BIGINT},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.createDeptId != null" >
        CREATE_DEPT_ID = #{record.createDeptId,jdbcType=VARCHAR},
      </if>
      <if test="record.createOperId != null" >
        CREATE_OPER_ID = #{record.createOperId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDeptId != null" >
        UPDATE_DEPT_ID = #{record.updateDeptId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateOperId != null" >
        UPDATE_OPER_ID = #{record.updateOperId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stl_element
    set ELEMENT_ID = #{record.elementId,jdbcType=BIGINT},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      ELEMENT_CODE = #{record.elementCode,jdbcType=VARCHAR},
      ELEMENT_NAME = #{record.elementName,jdbcType=VARCHAR},
      OBJECT_ID = #{record.objectId,jdbcType=VARCHAR},
      ATTR_TYPE = #{record.attrType,jdbcType=VARCHAR},
      IS_SETTLEMENT = #{record.isSettlement,jdbcType=VARCHAR},
      VALUE_TYPE = #{record.valueType,jdbcType=VARCHAR},
      IS_NECESSARY = #{record.isNecessary,jdbcType=VARCHAR},
      ELEMENT_TYPE = #{record.elementType,jdbcType=VARCHAR},
      DATA_CREATE_TYPE = #{record.dataCreateType,jdbcType=VARCHAR},
      IS_PRIMARY_KEY = #{record.isPrimaryKey,jdbcType=VARCHAR},
      UNIT = #{record.unit,jdbcType=VARCHAR},
      SORT_ID = #{record.sortId,jdbcType=INTEGER},
      ELEMENT_DESC = #{record.elementDesc,jdbcType=VARCHAR},
      STATISTICS_TYPE = #{record.statisticsType,jdbcType=VARCHAR},
      STATISTICS_CYC = #{record.statisticsCyc,jdbcType=VARCHAR},
      STATISTICS_OBJECT_ID = #{record.statisticsObjectId,jdbcType=VARCHAR},
      STATISTICS_ELEMENT_ID = #{record.statisticsElementId,jdbcType=BIGINT},
      STATE = #{record.state,jdbcType=VARCHAR},
      CREATE_DEPT_ID = #{record.createDeptId,jdbcType=VARCHAR},
      CREATE_OPER_ID = #{record.createOperId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_DEPT_ID = #{record.updateDeptId,jdbcType=VARCHAR},
      UPDATE_OPER_ID = #{record.updateOperId,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.x.ic.smc.dao.mapper.bo.StlElement" >
    update stl_element
    <set >
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="elementCode != null" >
        ELEMENT_CODE = #{elementCode,jdbcType=VARCHAR},
      </if>
      <if test="elementName != null" >
        ELEMENT_NAME = #{elementName,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        OBJECT_ID = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="attrType != null" >
        ATTR_TYPE = #{attrType,jdbcType=VARCHAR},
      </if>
      <if test="isSettlement != null" >
        IS_SETTLEMENT = #{isSettlement,jdbcType=VARCHAR},
      </if>
      <if test="valueType != null" >
        VALUE_TYPE = #{valueType,jdbcType=VARCHAR},
      </if>
      <if test="isNecessary != null" >
        IS_NECESSARY = #{isNecessary,jdbcType=VARCHAR},
      </if>
      <if test="elementType != null" >
        ELEMENT_TYPE = #{elementType,jdbcType=VARCHAR},
      </if>
      <if test="dataCreateType != null" >
        DATA_CREATE_TYPE = #{dataCreateType,jdbcType=VARCHAR},
      </if>
      <if test="isPrimaryKey != null" >
        IS_PRIMARY_KEY = #{isPrimaryKey,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        SORT_ID = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="elementDesc != null" >
        ELEMENT_DESC = #{elementDesc,jdbcType=VARCHAR},
      </if>
      <if test="statisticsType != null" >
        STATISTICS_TYPE = #{statisticsType,jdbcType=VARCHAR},
      </if>
      <if test="statisticsCyc != null" >
        STATISTICS_CYC = #{statisticsCyc,jdbcType=VARCHAR},
      </if>
      <if test="statisticsObjectId != null" >
        STATISTICS_OBJECT_ID = #{statisticsObjectId,jdbcType=VARCHAR},
      </if>
      <if test="statisticsElementId != null" >
        STATISTICS_ELEMENT_ID = #{statisticsElementId,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createDeptId != null" >
        CREATE_DEPT_ID = #{createDeptId,jdbcType=VARCHAR},
      </if>
      <if test="createOperId != null" >
        CREATE_OPER_ID = #{createOperId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDeptId != null" >
        UPDATE_DEPT_ID = #{updateDeptId,jdbcType=VARCHAR},
      </if>
      <if test="updateOperId != null" >
        UPDATE_OPER_ID = #{updateOperId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ELEMENT_ID = #{elementId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x.ic.smc.dao.mapper.bo.StlElement" >
    update stl_element
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      ELEMENT_CODE = #{elementCode,jdbcType=VARCHAR},
      ELEMENT_NAME = #{elementName,jdbcType=VARCHAR},
      OBJECT_ID = #{objectId,jdbcType=VARCHAR},
      ATTR_TYPE = #{attrType,jdbcType=VARCHAR},
      IS_SETTLEMENT = #{isSettlement,jdbcType=VARCHAR},
      VALUE_TYPE = #{valueType,jdbcType=VARCHAR},
      IS_NECESSARY = #{isNecessary,jdbcType=VARCHAR},
      ELEMENT_TYPE = #{elementType,jdbcType=VARCHAR},
      DATA_CREATE_TYPE = #{dataCreateType,jdbcType=VARCHAR},
      IS_PRIMARY_KEY = #{isPrimaryKey,jdbcType=VARCHAR},
      UNIT = #{unit,jdbcType=VARCHAR},
      SORT_ID = #{sortId,jdbcType=INTEGER},
      ELEMENT_DESC = #{elementDesc,jdbcType=VARCHAR},
      STATISTICS_TYPE = #{statisticsType,jdbcType=VARCHAR},
      STATISTICS_CYC = #{statisticsCyc,jdbcType=VARCHAR},
      STATISTICS_OBJECT_ID = #{statisticsObjectId,jdbcType=VARCHAR},
      STATISTICS_ELEMENT_ID = #{statisticsElementId,jdbcType=BIGINT},
      STATE = #{state,jdbcType=VARCHAR},
      CREATE_DEPT_ID = #{createDeptId,jdbcType=VARCHAR},
      CREATE_OPER_ID = #{createOperId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_DEPT_ID = #{updateDeptId,jdbcType=VARCHAR},
      UPDATE_OPER_ID = #{updateOperId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ELEMENT_ID = #{elementId,jdbcType=BIGINT}
  </update>
</mapper>